<div id="<%= dom_id user %>">
  <p>
    <strong>Handle:</strong>
    <%= user.handle %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

</div>
